aiohttp
aiosignal
asgiref
attrs
Babel
certifi
cffi
click
colorama
cryptography
django
django-cors-headers
django-crispy-forms
django-environ
django-filter
django-phonenumber-field
django-widget-tweaks
djangorestframework
idna
Jinja2
MarkupSafe
pillow
python-dotenv
requests
sqlparse
tzdata
virtualenv
yarl
Django
djangorestframework
django-filter
django-environ
django-crispy-forms
django-widget-tweaks
django-phonenumber-field
python-dotenv
mysql-connector-python
cryptography
argon2-cffi
cffi
requests
urllib3
certifi
sqlparse
Markdown
pytz
Pillow
django-cors-headers
django-cors-headers
Django
djangorestframework
gunicorn
psycopg2-binary
xhtml2pdf
