{% extends 'base.html' %}
{% load static %}
{% block body %}
  <h1 class="text-center font-bold fs-1 mb-4">Register</h1>
  <div class="container">
    {% if messages %}
      <div>
        {% for message in messages %}
          <div class="p-4 mb-4 text-white rounded {{ message.tags }}">{{ message }}</div>
        {% endfor %}
      </div>
    {% endif %}

    {% if messages %}
      <div>
        {% for message in messages %}
          <div class="p-4 mb-4 text-white rounded {{ message.tags }}">{{ message }}</div>
        {% endfor %}
      </div>
    {% endif %}

    {% if messages %}
      <div>
        {% for message in messages %}
          <div class="alert {% if message.tags %}
              
            
            
              
              
              alert-{{ message.tags }}
            {% else %}
              
            
            
              
              
              alert-info





            {% endif %}">{{ message }}</div>
        {% endfor %}
      </div>
    {% endif %}
    <div class="row">
      <div class="col-md-12 mb-4 text-center">
        <button id="participant-button" class="btn btn-primary me-2" onclick="showForm('participant')">Register as Participant</button>
        <button id="organizer-button" class="btn btn-secondary" onclick="showForm('organizer')">Register as Organizer</button>
      </div>
      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <img src="{% static 'images/sign_in.png' %}" alt="Static Image" class="img-fluid" />
      </div>
      <div class="col-md-6">
        <div id="participant-form" class="form-container shadow p-4 mb-4 bg-light rounded" style="display: block;">
          <h2>Participant Registration</h2>
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ participant_form.non_field_errors }}
            {% for field in participant_form %}
              <div class="mb-3">
                {{ field.label_tag }}
                {{ field }}
                <div class="text-danger">{{ field.errors }}</div>
              </div>
            {% endfor %}
            <button type="submit" name="participant_button" class="btn btn-primary">Register as Participant</button>
          </form>
        </div>
        <div id="organizer-form" class="form-container shadow p-4 mb-4 bg-light rounded" style="display: none;">
          <h2>Organizer Registration</h2>
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ organizer_form.non_field_errors }}
            {% for field in organizer_form %}
              <div class="mb-3">
                {{ field.label_tag }}
                {{ field }}
                <div class="text-danger">{{ field.errors }}</div>
              </div>
            {% endfor %}
            <button type="submit" name="organizer_button" class="btn btn-primary">Register as Organizer</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script>
    function showForm(formType) {
      const participantForm = document.getElementById('participant-form')
      const organizerForm = document.getElementById('organizer-form')
      const participantButton = document.getElementById('participant-button')
      const organizerButton = document.getElementById('organizer-button')
    
      if (formType === 'participant') {
        participantForm.style.display = 'block'
        organizerForm.style.display = 'none'
        participantButton.classList.add('btn-primary')
        participantButton.classList.remove('btn-secondary')
        organizerButton.classList.add('btn-secondary')
        organizerButton.classList.remove('btn-primary')
      } else if (formType === 'organizer') {
        organizerForm.style.display = 'block'
        participantForm.style.display = 'none'
        organizerButton.classList.add('btn-primary')
        organizerButton.classList.remove('btn-secondary')
        participantButton.classList.add('btn-secondary')
        participantButton.classList.remove('btn-primary')
      }
    }
    document.addEventListener('DOMContentLoaded', function () {
      showForm('participant')
    })
  </script>
{% endblock %}
